html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media screen and (max-width: 1200px) {
	.header {
		position: relative;
		background-color: #323232;	
		top: 0;
		left: 0;
		min-height: 30px;
		height: 5%;	
		width: 100%;
		min-width: 1200px;
		box-shadow: 0 0 10px rgba(0,0, 120,0.5);
		color: white;
		font-family: "Oswald regular", Arial;
		font-size: 20px;
	}


	.container {
		position: relative;
		background-color: #E4DFDF;
	 	margin: auto;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-height: 800px;
		height: 100%;
		width: 1200px;
		font-family: 'PT Sans', Arial;
	}

    .header-content {
        position: relative;
        word-spacing: 15px;
        margin: auto;
        top: 20px;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1200px;
        height: 100%;
    }

    .header-content .search {
        position: absolute;
        border-radius:  5px;
        border: 0;
        height: 20px;
        width: 200px;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
	.header {
		position: fixed;
		background-color: #323232;
		top: 0;
		left: 0;
		min-height: 30px;
		height: 5%;	
		width: 100%;
		min-width: 1200px;
		box-shadow: 0 0 10px rgba(0,0, 120,0.5);
		z-index: 1000;
		color: white;
		font-family: "Oswald regular", Arial;
		font-size: 20px;
	}



	.container {
		position: relative;
		background-color: #E4DFDF;
	 	margin: auto;
		margin-top: 2.5%;  
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		min-height: 800px;
		height: 2000px;
		width: 1200px;
		font-family: 'PT Sans', Arial;
	}

    .header-content {
        position: relative;
        word-spacing: 15px;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 1200px;
        height: 100%;
    }

    .search {
        position: absolute;
        border-radius:  5px;
        border: 0;
        height: 60%;
        width: 200px;
        top: 20%;
        right: 0;
    }
}




body {
	background-color: #f0f0e7;
}


.footer-content {
	position: relative;
	word-spacing: 15px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 1200px;
	height: 100%;
}


.header-content a {
	color: #ffffff;
	text-decoration: none;
}

.header a:hover {
	opacity: .5;
}

.menu {
	position: absolute;
	bottom: 30%;
}
#signIn {
	position: absolute;
	word-spacing: normal;
	right: 20%;
	bottom: 30%;
}

.players {
    color: #000000;
    text-decoration: none;
    font-family: 'PT Sans', Arial;
    font-size: 25px;
}

.players:hover {
    opacity: .5;
}


.footer {
	position: relative;
	background-color: #323232;
	top: 0;
	left: 0;
	min-height: 30px;
	height: 5%;	
	width: 100%;
	min-width: 1200px;
	box-shadow: 0 0 10px rgba(0,0, 120,0.5);
	z-index: 1000;
	color: white;
	font-family: "Oswald regular", Arial;
	font-size: 20px;
}


.paranja {
	position: fixed;
	z-index: 500;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.5;
	display: block;
}

.window {
	position: fixed;
	left: 50%;
	top: 30%;
	display: block;
	width: 400px;
	padding: 20px;
	
	margin-left: -210px;
	background: white;
	background-clip: padding-box; 
	border: 20px solid rgba(0,0,0,0.5);
	border-radius: 10px;
	z-index: 2000;

}
.window .content {
	font-size: 26px;
	font-weight: bold;
	font-family: "Ubuntu Mono";
	margin-left: 15%;
}

.window input, button  {
	border-radius: 5px;
	font-size: 20px;
	font-family: "Ubuntu Mono";
	border: 1px solid black;
	height: 40px;
	width: 300px;
	margin-top: 10px;
}

.window input:focus {
	
}

.window button {
	background-color: #1E90FF;
	color: white;
	border: 0;
}



.close {
	position: absolute;
	cursor: default;
	top: 5px;
	right: 5px;

	font-size: 25px;
	font-family: "Arial";
	font-weight: bold;
	text-align: center;

	width: 30px;
	height: 30px;
	line-height: 30px;
	transition: 
		background-color 0.5s linear;
}

.close:hover{
	background-color: red;
	margin-left: 100px;
}